$sidebar-bg-color: #191d2b;
$icon-bg-color: transparent;
$icon-size: 38px;
$breakpoint-sm: 600px;
$sidebar-collapsed-width: 75px;
$highlight-color: #037fff;

.sidebar-header {
  position: relative;
  button {
    background-color: transparent;
    border: 0;
    // color: #037fff;
    position: absolute;
    z-index: 10;
    right: 45%;
    bottom: -45px;
  }
}
// .arrow-container {
//   border: 1px solid red;
//   display: flex;
//   justify-content: flex-end;
// }

@import "~react-pro-sidebar/dist/scss/styles.scss";
