$sidebar-bg-color: #191d2b;
$icon-bg-color: transparent;
$icon-size: 38px;
$breakpoint-sm: 600px;
$sidebar-collapsed-width: 75px;
$highlight-color: #037fff;

.sidebar-header {
  position: relative;
  button {
    background-color: transparent;
    border: 0;
    // color: #037fff;
    position: absolute;
    z-index: 10;
    right: 45%;
    bottom: -45px;
  }
}

.arrow-bounce {
  display: flex;
  justify-content: flex-end;

  transform: translate3d(0, 0, 0);
  animation-name: shakeMe;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shakeMe {
  2%,
  18% {
    transform: translate3d(-1.5px, 0, 0);
  }

  4%,
  16% {
    transform: translate3d(1.5px, 0, 0);
  }

  6%,
  10%,
  14% {
    transform: translate3d(-1.5px, 0, 0);
  }

  8%,
  12% {
    transform: translate3d(1.5px, 0, 0);
  }

  18.1% {
    transform: translate3d(0px, 0, 0);
  }
}

.top-arrow-bounce {
  display: flex;
  justify-content: flex-end;

  transform: translate3d(0, 0, 0);
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bounce {
  2%,
  18% {
    transform: translate3d(0, -1.5px, 0);
  }

  4%,
  16% {
    transform: translate3d(0, 1.5px, 0);
  }

  6%,
  10%,
  14% {
    transform: translate3d(0, -1.5px, 0);
  }

  8%,
  12% {
    transform: translate3d(0, 1.5px, 0);
  }

  18.1% {
    transform: translate3d(0px, 0, 0);
  }
}

@import "~react-pro-sidebar/dist/scss/styles.scss";
